<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>
<div class='panel panel-default'>
  <div class='panel-heading'>
    <%= Spree.t(:registration) %>    
  </div>
  <div class='panel-body'>
    <div id="registration" class='row' data-hook>
      <div id="account" class="col-md-6">
        <div class='row'>
          <div class='col-md-8 col-md-offset-2'>
            <%= render partial: 'spree/user_sessions/login' %>
          </div>
        </div>
      </div>
      <% if Spree::Config[:allow_guest_checkout] %>
        <div id="guest_checkout" data-hook class="col-md-6">
          <div class='row'>
            <div class='col-md-8 col-md-offset-2'>
              <div class='alert alert-info'>
                <%= Spree.t(:guest_user_account) %>    
              </div>
              <% if flash[:registration_error] %>
                <div class='flash alert alert-error'><%= flash[:registration_error] %></div>
              <% end %>
              <%= form_for @order, :url => update_checkout_registration_path, :method => :put, :html => { :id => 'checkout_form_registration' } do |f| %>
                <div class='form-group'>
                  <%= f.label :email, Spree.t(:email) %><br />
                  <%= f.email_field :email, :class => 'title', class: 'form-control' %>
                </div>
                <div class='actions'>
                  <%= f.submit Spree.t(:continue), :class => 'btn btn-primary btn-block' %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
  </div>
</div>
</div>